<div class="highlight"><pre><span class="n">def</span> <span class="n">markdown</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
  <span class="n">markdown_render</span> <span class="p">=</span> <span class="n">Redcarpet</span><span class="p">::</span><span class="n">Render</span><span class="p">::</span><span class="n">HTML</span><span class="p">.</span><span class="n">new</span><span class="p">(:</span><span class="n">hard_wrap</span> <span class="p">=</span><span class="o">&gt;</span> <span class="n">true</span><span class="p">,</span> <span class="p">:</span><span class="n">no_styles</span> <span class="p">=</span><span class="o">&gt;</span> <span class="n">true</span><span class="p">)</span>
  <span class="n">markdown</span> <span class="p">=</span> <span class="n">Redcarpet</span><span class="p">::</span><span class="n">Markdown</span><span class="p">.</span><span class="n">new</span><span class="p">(</span><span class="n">markdown_render</span><span class="p">,</span> <span class="p">:</span><span class="n">autolink</span> <span class="p">=</span><span class="o">&gt;</span> <span class="n">true</span><span class="p">,</span> <span class="p">:</span><span class="n">no_intro_emphasis</span> <span class="p">=</span><span class="o">&gt;</span> <span class="n">true</span><span class="p">)</span>
  <span class="n">markdown</span><span class="p">.</span><span class="n">render</span><span class="p">(</span><span class="n">text</span><span class="p">.</span><span class="n">to_s</span><span class="p">)</span>
<span class="k">end</span>
</pre>
</div>